<div class="site-header-background"></div>
<nav class="u-pull-right">
	<ul>
		<li><LinkTo @route="index">HOME</LinkTo></li>
		<li><LinkTo @route="projects">PROJECTS</LinkTo></li>
		<li><a href="#contact-me">CONTACT</a></li>
	</ul>
</nav>
