// namespace: 'ui-card'

.ui-card-flex-container {
	display: flex;
	gap: map-get($margins, 'largest');
	flex-wrap: wrap;
	justify-content: space-between;
}

.ui-card {
	background-color: $color-white;
	padding: $padding-section;
	margin-bottom: map-get($margins, 'largest');
	box-shadow: $box-shadow-dark;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@include breakpoint($bp-m) {
		flex-basis: calc(50% - map-get($margins, 'largest'));
	}

	@include breakpoint($bp-l) {
		flex-basis: calc(33.33% - map-get($margins, 'largest'));
	}

	.ui-card-body {
		flex-grow: 1;
	}
}

.ui-card-title {
	background: #EEEEEE;
	padding: 15px $padding-section;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-card-image-wrapper {
	max-height: 230px;
	overflow: hidden;

	img {
		width: 100%;
		display: block;
	}
}

.ui-card-footer {
	padding: 10px 0;
	text-align: center;
}


// modified version of ui-card so that padding can be added inside, rather then outside (helps with "hero" like backgrounds and such)
.ui-card-hero-wrapper {
	padding: 0;

	.ui-card-body,
	.ui-card-footer {
		overflow: hidden;
		padding: 0 $padding-section;
		text-overflow: ellipsis;
	}

	.ui-card-footer {
		padding: 0 20px 10px;
		margin-bottom: map-get($margins, 'normal');
	}
}
