
details {
	summary {
		cursor: pointer;
		list-style: none;
	}

	span {
		display: block;
	}

	.toggle-container {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.3s;

		.text:not(:empty) {
			min-height: 90px;
			overflow: hidden;
		}
	}

	&[open] .toggle-container {
		grid-template-rows: 1fr;
	}

	.icon {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: top;
		rotate: 90deg;

		i,
		i:after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border: 6px solid;
			border-left-width: 8px;
			border-top-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			display: inline-block;
			margin-left: 3px;
		}

		// purposely not matching to make the tip of the arrow icon look more thick
		i:after {
			content: '';
			border-width: 11px;
			border-left-width: 8px;
			border-left-color: $color-white;
			margin-left: -3px;
		}
	}

	.text {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;

		@include breakpoint($bp-s) {
			-webkit-line-clamp: 4;
		}

		.p ~ .p {
			margin-top: map-get($margins, 'normal')
		}
	}

	&[open] .text {
		-webkit-line-clamp: initial;
		margin-bottom: map-get($margins, 'normal')
	}

	.expand {
		font-size: 0.9em;
		font-style: italic;
		font-weight: bold;
		text-align: center;
		margin-bottom: map-get($margins, 'normal')
	}

	&[open] .expand {
		display: none;
	}
}
