// Larger than mobile
$bp-xs: 400px !default;

// Larger than phablet (also point when grid becomes active)
$bp-s: 550px !default;

// Larger than tablet
$bp-m: 750px !default;

// Larger than desktop
$bp-l: 1000px !default;

// Larger than Desktop HD
$bp-xl: 1200px !default;
