$color-white: #FFFFFF !default;
$color-darkwhite: #F9F9F9 !default;
$color-blue: #2E6DB0 !default;
$color-darkblue: #273A57 !default;
$color-red: #CC0000 !default;
$color-purple: #9E78C2 !default;
$color-green: #629C44 !default;
$color-gray: #333333 !default;
$color-lightgray: #CCCCCC !default;
$color-black: #000000 !default;
