
<div id="artwork-page">
	<div class="container">
		<h1 class="t-fsize-smaller">My Artwork</h1>
		<p>This page is a work in progress.  Eventually it will use a more streamlined interface, using small thumbnails that can be enlarged for a better view</p>

		<div class="row">
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail image-gallery-thumbnail-transparent" src="images/planets/planet001.png"/>
				<p>Small planet graphic for creating a space-like environment on the page.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="images/backgrounds/main.png"/>
				<p>This background is meant to give some visual interest to a background of a page.  It's transparent nature allows it to be used with any color background.  Additionally it repeats infinitely in all directions, which allows it to seemlessly scale to fit any size.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="images/backgrounds/Cloud01.png"/>
				<p>This background image is for a space-like background, the idea was to have a sort of nebula feeling to it.  It's transparent so that it can work with any background and when multiple of this image is layered, it gives a nice 3D effect.</p>
			</div>
		</div>
		<div class="row">
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="images/backgrounds/earth.png"/>
				<p>Earth! Need I say more?  Again, for a space-like background, only repeats infinitely on the x-axis.  I was also trying to make the continents look gem-like.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Gallery/Birthday1.png"/>
				<p>This was something I made as a birthday gift.  It was designed to be used as a desktop background.  Nearly all of it was made by me with some assistance by Paint Shop Pro 8 tools.  The letters in the center which read "Happy Birthday" are not colored in with a background I made, but the rest of the actual artwork I made.</p>
				<p>This was meant to have a "party" feel to it, with balloons and confetti-like lines.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Gallery/Birthday2.png"/>
				<p>Another desktop background birthday gift.  This one was again made by me with the help of tools in Paint Shop Pro 8.</p>
				<p>I designed this picture to have an outdoor feeling.  The coarse looking, almost sandstone-like, background with a smooth green leaf pattern.  The fire was added to make it feel more like a birthday but still keep a "nature" feel to it.  The presents and words were added for a personal touch to represent giving a gift.</p>
			</div>
		</div>
	</div>
</div>
