
<div id="models-page">
	<div class="container">
		<h1 class="t-fsize-smaller">My Models</h1>
		<p>This page is a work in progress.  Eventually it will use a more streamlined interface, using small thumbnails that can be enlarged for a better view</p>

		<h2 class="t-fsize-smaller">Spaceships</h2>
		<div class="row">
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/OrganicShipBasic.png"/>
				<p>This was the first alien race I designed for Darkest Reaches, a TwoCastle space based game.  This is the primary ship for a race whose ships are organic in nature.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/OrganicShipCargo.png"/>
				<p>The cargo ship for the same alien race as the last ship.  Its size makes it capable to hull more cargo and the extra tail on the end helps mark this ship.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/OrganicShipSpeed.png"/>
				<p>Same alien race as the last 2, this ship is designed for speed.  Possibly could fit inside the other 2 ships, but its primary function is speed.</p>
			</div>
		</div>
		<div class="row">
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/Race1_Ship1.png"/>
				<p>This was the second alien race designed by myself for Darkest Reaches, a TwoCastle game.  More aggressive and hostile race, much like Reavers in Firefly the TV Series or Serenity the Movie.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/Race2_Ship1.png"/>
				<p>This was the third alien race designed by myself for Darkest Reaches, a TwoCastle game.  Generic, possibly Human/Terran ships.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/Race3_Ship1.png"/>
				<p>This was the fourth alien race designed by myself for Darkest Reaches, a TwoCastle game.  Slug-like race, slow moving ships, not very powerful or threatening, but sometimes contain large or valuable cargo.</p>
			</div>
		</div>


		<h2 class="t-fsize-smaller">Turrets</h2>
		<div class="row">
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/WeaponTurret1.png"/>
				<p>One of the scripts I designed for TwoCastle games was a script to read blender data and output "turret positions" so that users may place turrets where ever they wanted on their ships.  This was the first turret I designed with a random pattern painted onto it.  Designed to fire old fashion projectiles.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/WeaponTurret1b.png"/>
				<p>Variation of the first turret, designed to fire long burst lasers.  Black line pattern on the sides of the lasers was designed to pulse the color of the laser.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/TestTurret1.png"/>
				<p>Hybrid of the last two turrets, short burst rapid fire lasers.</p>
			</div>
		</div>
		<div class="row">
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/WeaponTurret2.png"/>
				<p>Base or Space Station turret system.  Cannon works in large groups, spinning while firing for more damage in a specific direction, or in all directions at once for a massive spread of fire.  Shoots spheres of energy out of the main cannons.</p>
			</div>
			<div class="image-gallery-item columns four">
				<img class="image-gallery-thumbnail" src="projects/Models/Images/WeaponTurret3.png"/>
				<p>Work in progress on another turret system.  Eventually will have a slow, but extremely powerful shot of unknown energy that overwhelms shields.</p>
			</div>
		</div>
	</div>
</div>
