
<div id="projects-page">
	<section>
		<div class="container">
			<div class="row">
				<h1 class="t-fsize-smaller">My Projects</h1>
			</div>

			<div class="ui-card-flex-container">
				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/d4-overlay.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Diablo 4 Loot Detector</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">Node.js</span><span class="ui-tag">Electron</span><span class="ui-tag">JavaScript</span><span class="ui-tag">OCR</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">Made this for fun in about 2 weeks, using JavaScript, Node, Electron, and the Tesseract.js OCR engine. I used electron to make a desktop application that can run an overlay.  Then I used tesseract + some optimization code to real-time scan the screen for specific text and values that I could set via a pre-window interface.  These defined values indicated high quality loot, needed for my build in the Diablo 4 video game.  Once the loot is identified as something I want, I used a canvas on a transparent overlay to highlight the relevant information. <a href="https://github.com/cvaccarello/diablo-4-overlay" target="_blank">GitHub: D4 Overlay</a></span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<Enlargeable @text="Preview" @image="/images/projects/d4-overlay.png" @video="/videos/d4-overlay.mp4"></Enlargeable>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/virtual-booth.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Virtual Booth</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">JavaScript</span><span class="ui-tag">HTML</span><span class="ui-tag">CSS</span><span class="ui-tag">jQuery</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">This site was constructed as a demo of reusable technology I developed during the height of the pandemic.  It was meant as a replacement for in-person trade shows that were no longer running.  This site is entirely stitched together videos, render out from a Blender environment, and as such could look like anything.</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<Enlargeable @text="Preview" @image="/images/projects/virtual-booth.png" @video="/videos/virtual-booth.mp4"></Enlargeable>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/virtual-booth-3d.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Virtual Booth 3D</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">JavaScript</span><span class="ui-tag">HTML</span><span class="ui-tag">CSS</span><span class="ui-tag">jQuery</span><span class="ui-tag">three.js</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">This site was a continuation of the pure-video approach to Virtual Booth technology, developed during the pandemic.  This site is primarily stitched together videos for maximum cross-browser and cross-device optimization, combined with a tiny bit of three.js for a skybox, some rectangles for animation, and points for button positioning.</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<Enlargeable @text="Preview" @image="/images/projects/virtual-booth-3d.png" @video="/videos/virtual-booth-3d.mp4"></Enlargeable>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/virtual-booth-3d-v2.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Virtual Booth 3D (v2)</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">JavaScript</span><span class="ui-tag">HTML</span><span class="ui-tag">CSS</span><span class="ui-tag">jQuery</span><span class="ui-tag">three.js</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">Another continuation of the reusable Virtual Booth 3D technology developed during the pandemic, but with several optimizations.  Primarily the optimizations were lazy-loading higher quality assets for a more crisp and clean view on faster networks.</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<Enlargeable @text="Preview" @image="/images/projects/virtual-booth-3d-v2.png" @video="/videos/virtual-booth-3d-v2.mp4"></Enlargeable>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/professor-hemlock.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Professor Hemlock - Pokémon GO Discord Bot</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">Node</span><span class="ui-tag">JavaScript</span><span class="ui-tag">OCR</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">
										<span class="p">This project started as a discord chat application project for a local community out of necessity for organizing large groups of random people for in-person raids and activities.  Eventually it grew to hundreds of communities and thousands of people, with half a dozen developers contributing to the project.</span>
										<span class="p">Features included chat commands to create channels, @mention people, fuzzy search for Pokémon, interface with 3rd party APIs, and my personal favorite, read in-game screenshots with OCR and do all of the above without needing to research commands to type.</span>
										<span class="p">A ton of time and care went into growing the project and numerous communities in discord for over 5 years.  If you'd like to check out the discord bot and our community you can do so <a href="https://discord.gg/s76QW7S" target="_blank">here!</a></span>
									</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<Enlargeable @text="Preview" @video="https://www.youtube.com/embed/PhLhRHephCk?si=UZEfyppBtp-9nE10"></Enlargeable>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/sneaky-seamus.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Sneaky Seamus Card Game</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">Inkscape</span><span class="ui-tag">SVG</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">Sneaky Seamus is a card game created by my family. The idea was a collaborative effort, but the artwork for the cards and die was created by myself. The game consists of hundreds of cards, dozens of unique designs, a custom die, several circular "gold" tokens, and a box to contain it all!</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<LinkTo @route="sneaky-seamus" class="btn btn-primary">View Sample</LinkTo>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<h2 class="t-fsize-smallest ui-card-title">Pattern Library</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">JavaScript</span><span class="ui-tag">HTML</span><span class="ui-tag">CSS</span><span class="ui-tag">jQuery</span><span class="ui-tag">Ember</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">Eventually this will be a place for a reusable pattern library, used to create this site.  It will be used for a combination of QA, Automatated Testing, and Documention.</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/backgrounds/earth.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Artwork</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">Inkscape</span><span class="ui-tag">Pixlr</span><span class="ui-tag">Paintshop</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">A collection of random miscellaneous artwork for various projects. Some of this was created with SVGs and some was pixel art.</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<LinkTo @route="artwork" class="btn btn-primary">View Artwork</LinkTo>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/organic-ship-basic.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">3D Models</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">Blender</span><span class="ui-tag">Paintshop</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">A series of spaceships and weapon turrets for a Java-based game with TwoCastle Software, some have been given artwork, some have not.</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<LinkTo @route="models" class="btn btn-primary">View Models</LinkTo>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/raytracer.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Raytracer</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">Python</span><span class="ui-tag">PyGame</span><span class="ui-tag">Blender</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">Created for a 3D Mathematics class in college. This program renders a screen, pixel by pixel, using 3D vector math to calculate each pixel colors. Math includes reflections, refractions, aliasing, shadows, and custom blender objects.</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<a class="btn btn-primary" href="/projects/Raytracer/Raytracer.zip">Download Code</a>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/disintegris.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">Disintegris</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">Python</span><span class="ui-tag">PyGame</span><span class="ui-tag">Paintshop</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">
										<span class="p">A spin off of Tetris, the idea for this Python game was initially created in a 3-person group project for a college programming class.  The end product that you see here was entirely created by myself and most of it was completed after the class had ended, in my free time.</span>
										<span class="p">The game has been set up to run as an exe, so python is not required to play it.  However, the code unfortunately didn't use elapsed time for the movement of the blocks, and thus has not aged well.  The faster the computer, the harder it is to play... if you turn on extra background graphics by pressing the number 1 key, it'll slow the game down enough to be enjoyable haha.</span>
									</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<a class="btn btn-primary" href="/projects/Disintegris.zip">Download Game</a>
					</footer>
				</div>

				<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
					<div class="ui-card-image-wrapper"><img src="/images/projects/english-game.png"/></div>
					<h2 class="t-fsize-smallest ui-card-title">English History</h2>
					<div class="ui-card-body">
						<div class="ui-tag-container"><span class="ui-tag">JavaScript</span><span class="ui-tag">HTML</span><span class="ui-tag">PHP</span><span class="ui-tag">Paintshop</span></div>
						<details>
							<summary>
								<span class="toggle-container">
									<span class="text">
										<span class="p">Made for an English class in high school (2006'ish), before jQuery was even a thing.  This game was built as a literary teaching tool for Anglo-Saxon literature and medieval culture.</span>
										<span class="p">At one point this game contained aspects of PHP and a MySQL database, however I've lost those pieces of code to time, which is very sad and highlights the need for repos like git!</span>
									</span>
									<span class="expand">Expand <span class="icon"><i></i></span></span>
								</span>
							</summary>
						</details>
					</div>
					<footer class="ui-card-footer">
						<a class="btn btn-primary" href="projects/EnglishGame/game.htm">Play Game</a>
					</footer>
				</div>
			</div>

		</div>
	</section>
</div>
