
<div id="projects-page">
	<section>
		<div class="container">
			<div class="row">
				<h1 class="t-fsize-smaller">My Projects</h1>
			</div>

			<div class="row">
				<div class="columns four">
					<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
						<h2 class="t-fsize-smallest ui-card-title">Pattern Library</h2>
						<div class="ui-card-body">
							<div class="ui-tag-container"><span class="ui-tag">JavaScript</span><span class="ui-tag">HTML</span><span class="ui-tag">CSS</span><span class="ui-tag">jQuery</span><span class="ui-tag">Ember</span></div>
							<p>Eventually this will be a place for a reusable pattern library, used to create this site.  It will be used for a combination of QA, Automatated Testing, and Documention.</p>
						</div>
						<footer class="ui-card-footer">
						</footer>
					</div>
				</div>

				<div class="columns four">
					<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
						<div class="ui-card-image-wrapper"><img src="/images/backgrounds/earth.png"/></div>
						<h2 class="t-fsize-smallest ui-card-title">Artwork</h2>
						<div class="ui-card-body">
							<div class="ui-tag-container"><span class="ui-tag">Inkscape</span><span class="ui-tag">Pixlr</span><span class="ui-tag">Paintshop</span></div>
							<p>A collection of artwork for various projects.</p>
						</div>
						<footer class="ui-card-footer">
							<LinkTo @route="artwork" class="btn btn-primary">View Artwork</LinkTo>
						</footer>
					</div>
				</div>

				<div class="columns four">
					<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
						<div class="ui-card-image-wrapper"><img src="/images/projects/organic-ship-basic.png"/></div>
						<h2 class="t-fsize-smallest ui-card-title">3D Models</h2>
						<div class="ui-card-body">
							<div class="ui-tag-container"><span class="ui-tag">Blender</span><span class="ui-tag">Paintshop</span></div>
							<p>A series of space ships and weapon turrets for a Java-based game with TwoCastle Software, some have been given artwork, some have not.</p>
						</div>
						<footer class="ui-card-footer">
							<LinkTo @route="models" class="btn btn-primary">View Models</LinkTo>
						</footer>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="columns four">
					<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
						<div class="ui-card-image-wrapper"><img src="/images/projects/raytracer.png"/></div>
						<h2 class="t-fsize-smallest ui-card-title">Raytracer</h2>
						<div class="ui-card-body">
							<div class="ui-tag-container"><span class="ui-tag">Python</span><span class="ui-tag">PyGame</span><span class="ui-tag">Blender</span></div>
							<p>Created for a 3D Mathmatics class in college, this program renders a screen, pixel by pixel, using 3D vectors to calcuate pixel colors.</p>
						</div>
						<footer class="ui-card-footer">
							<a class="btn btn-primary" href="/projects/Raytracer/Raytracer.zip">Download Code</a>
						</footer>
					</div>
				</div>

				<div class="columns four">
					<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
						<div class="ui-card-image-wrapper"><img src="/images/projects/disintegris.png"/></div>
						<h2 class="t-fsize-smallest ui-card-title">Disintegris</h2>
						<div class="ui-card-body">
							<div class="ui-tag-container"><span class="ui-tag">Python</span><span class="ui-tag">PyGame</span><span class="ui-tag">Paintshop</span></div>
							<p>A spin off of Tetris, the idea for this Python game was initially created in a 3 person group project for a college programming class.  The end product that you see here was entirely created by myself and most of it was completed after the class had ended, in my free time.</p>
							<p>The game has been setup to run as an exe, so python is not required to play it.  However that said, the code unfortunately didn't use elapsed time for the movement of the blocks, and thus has not aged well.  The faster the computer, the harder it is to play... if you turn on extra background graphics by pressing the number 1 key, it'll slow the game down enough to be enjoyable haha.</p>
						</div>
						<footer class="ui-card-footer">
							<a class="btn btn-primary" href="/projects/Disintegris.zip">Download Game</a>
						</footer>
					</div>
				</div>

				<div class="columns four">
					<div class="ui-card ui-card-hero-wrapper ui-theme-inverted">
						<div class="ui-card-image-wrapper"><img src="/images/projects/english-game.png"/></div>
						<h2 class="t-fsize-smallest ui-card-title">English History</h2>
						<div class="ui-card-body">
							<div class="ui-tag-container"><span class="ui-tag">JavaScript</span><span class="ui-tag">HTML</span><span class="ui-tag">PHP</span><span class="ui-tag">Paintshop</span></div>
							<p>Made for an English class in high school (2006'ish), before jQuery was even a thing.  This game was built as a literary teaching tool for Anglo-Saxon literature and medieval culture.</p>
							<p>At one point this game contained aspects of PHP and a MySQL database, however I've lost those pieces of code to time, which is very sad and highlights the need for repos like git!</p>
						</div>
						<footer class="ui-card-footer">
							<a class="btn btn-primary" href="/EnglishGame/game.htm">Play Game</a>
						</footer>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
