
<div id="artwork-page">
	<div class="container">
		<h1 class="t-fsize-smaller">Sneaky Seamus</h1>
		<p>This is just a small sampling of cards, there are dozens more that can be available upon request.</p>

		<div class="image-gallery-flex-container">
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/red.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/green.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/blue.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/purple.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/action-8.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/action-16.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-1.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-5.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-6.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-8.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-15.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-16.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-19.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-22.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-23.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/front-24.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/back.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/back-black.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/logo1.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/logo2.png"></Enlargeable>
				<p></p>
			</div>
			<div class="image-gallery-item">
				<Enlargeable @image="projects/SneakySeamus/die.png" @video="projects/SneakySeamus/die.mp4"></Enlargeable>
				<p></p>
			</div>
		</div>
	</div>
</div>
